.Footer{
    width: 100%;
    box-sizing: border-box;
    height: 179px;
    margin-top: 60px;
    flex-shrink: 0;
    background: #7D29D9;
    padding: 29px 363px 60px 389px;
}
.Footer-block{
    width: 1170px;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
}
.Footer-contact{
    width: 70px;
    display: flex;
    gap: 13px;
    flex-direction: column;
}
.Footer-main_link{
    display: flex;
    gap: 80px;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 30px;
}
.Footer-link{
    color: #FFF;
    font-family: 'Unbounded', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Footer-info{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 30px;
}
.Privacy_Policy{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.5%; /* 15.54px */
    text-decoration-line: underline;
}
.Copyright{
    color: #FFF;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.5%; /* 15.54px */
}