.Lesson{
    box-sizing: border-box;
    max-width: 100%;
    padding: 40px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #7D29D9;
    display: flex;
    margin-top: 80px;
}
.Lesson-leftPart{
    width: 50%;
}
.Lesson-rightPart{
    width: 50%;
    position: relative;
    top: 43px;
}
.Lesson-h2{
    color: #C6FF69;
    font-family: 'Unbounded', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 44.2px */
}
.Lesson-form{
    display: inline-flex;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 27px;
}
.Lesson-fi{
    max-width: 389px;
    min-width: 389px;
    box-sizing: border-box;
    display: flex;
    padding: 18px 21px;
    align-items: flex-start;
    border-radius: 16px;
    border: 2px solid #C6FF69;
    background: #FFF;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Lesson-btn{
    margin-top: 10px;
    display: flex;
    max-width: 388px;
    min-width: 388px;
    box-sizing: border-box;
    height: 57px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #C6FF69;
    color: #7D29D9;
    font-family: 'Unbounded', sans-serif;
    font-size: 14.7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.Lesson-politics{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Lesson-mark{
    color: #C6FF69;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}