.Section5{
    display: flex;
    width: 993px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 38px 23px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.Section5-title{
    margin: auto;
    text-align: center;
}

.Section5-h1{
    color: #7D29D9;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 65px */
}
.Section5-info{
    color: #401371;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    margin: 38px 0;
}
.Section5-lessons{
    width: 993px;
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

.Section5-block{
    max-width: 485px;
    padding: 30px 46px 30px 30px;
    flex-shrink: 0;
    float: left;
}
.Section5-individual_lessons{
    border-radius: 8.307px;
    background: #C6FF69;
    box-shadow: 0px 8.307px 16.614px 0px rgba(171, 190, 209, 0.90);
}
.Section5-group_lessons{
    border-radius: 8.307px;
    background: #7D29D9;
    box-shadow: 0px 8.307px 16.614px 0px rgba(171, 190, 209, 0.90);
}


.Section5-lessons_img{
    width: 57px;
    height: 57px;
    float: left;
}


.Section5-individual_lessons .Section5-h2{
    color: #7D29D9;
    width: 389px;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.9px; /* 116.25% */
    
}
.Section5-group_lessons .Section5-h2{
    color: #C6FF69;
    width: 292px;
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.9px; /* 116.25% */
}
.Section5-h2 *{
    margin: 0 12px 0 0;
}
.Section5-description_individual_lessons , .Section5-description_group_lessons{
    color: #401371;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    width: 386px;
}
.Section5-description_group_lessons{
    color: #FFF;
}
.Section5-check_ift, .Section5-check_gft{
    color: #401371;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px; /* 170% */
    height: 28px;
}
.Section5-check_gft{
    color: #FFF;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px; /* 170% */
    height: 28px;
}
svg{
    float: left;
    margin: 5px 9px 0 0;
}
.Section5-individual_training_format{
    color: #401371;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;   
    float: left;
}

.Section5-Try_the_free_itf, .Section5-Try_the_free_gtf{
    display: flex;
    max-width: 340px;
    max-height: 57px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #7D29D9;
    color: #C6FF69;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 21px;
    border: none;
}

.Section5-Try_the_free_gtf{
    border-radius: 32px;
    background: #C6FF69;
    color: #7D29D9;
}