.Section4{
    max-width: 100%;
    padding: 60px 360px;   
    border: 0px solid #8DF854;
    background: #7D28DA;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.10);
    margin-top: 60px;
}
.Section4-block_center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1120px;
    box-sizing: border-box;
    margin: auto;
}
.Section4-h1{
    color: #C6FF69;
    font-family: 'Unbounded', sans-serif;
    font-size: 40.82px;
    font-style: normal;
    font-weight: 500;
}
.Section4-text{
    color: #FFF;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 25px; /* 125% */
    margin-top: 20px;
}
.Section4-block{
    display: grid;
    margin-top: 40px;
    grid-gap: 20px;
    grid-template-columns: 387px 247px 103px 343px;
    grid-template-rows: repeat(2, 143px) 165px;
    grid-template-areas:
                "img p_1 p_2 p_2"
                "img p_1 p_3 p_3"
                "img p_4 p_4 p_5";
}
.Section4-h2_1{
    color: #7D29D9;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px; /* 0% */
    margin-top: 20px;
    padding: 0 0 20px 0;
}
.Section4-h2_2{
    color: #7D29D9;    
    font-family: 'Unbounded', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: bold;
    line-height: 130%; /* 37.7px */
    padding: 0 0 10px 0;

}
.Section4-h2_text{
    font-weight: normal;
}
.Section4-b{
    color: #7D29D9;
    font-family: 'Unbounded', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
    margin-top: 30px;
}

.Section4-block_p_1{
    color: #401371;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
}
.Section4-block_p_2{
    color: #401371;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Section4-picture_teacher{
    grid-area: img;
    background: url(../images/teacher.png) no-repeat;
    border-radius: 10px;
}
.Section4-description_teacher_1{
    border-radius: 8.307px;
    background: #F5F7FA;
    box-shadow: 0px 8.307px 16.614px 0px rgba(171, 190, 209, 0.40);
    grid-area: p_1;
    padding: 20px;
    box-sizing: border-box;


}
.Section4-description_teacher_2{
    border-radius: 8.307px;
    background: #F5F7FA;
    box-shadow: 0px 8.307px 16.614px 0px rgba(171, 190, 209, 0.40);
    grid-area: p_2;
    padding: 20px;
    box-sizing: border-box;


}
.Section4-description_teacher_3{
    border-radius: 8.307px;
    background: #F5F7FA;
    box-shadow: 0px 8.307px 16.614px 0px rgba(171, 190, 209, 0.40);
    grid-area: p_3;
    padding: 20px;
    box-sizing: border-box;


}
.Section4-description_teacher_4{
    border-radius: 20px;
    background:#C6FF69;
    box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.10);
    grid-area: p_4;
    padding: 30px;
    box-sizing: border-box;


}
.Section4-description_teacher_5{
    border-radius: 20px;
    background:#C6FF69;
    box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.10);
    grid-area: p_5;
    padding: 30px;
    box-sizing: border-box;


}
